@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 15px;
}

a,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
